<div class="sort-filter-table">
  {{#if hasBlock}}
    <table>
      {{yield}}
    </table>
  {{else}}
  <table>
    {{#if table}}
    <thead>
      {{#if label}}
      <tr>
        <th colspan="{{totalColumns}}">
          {{{label}}}
        </th>
      </tr>
      {{/if}}
      <tr>
      {{#each labels as |label|}}
        <th class="table-header {{label.sort}} {{label._key}}">
          <a href="#" class="sort-labels {{label.sort}}" {{action "sortBy" label}}><span>{{{label.name}}}</span></a>
        </th>
      {{/each}}
      </tr>

      {{#if filterable}}
        <tr class="filter">
          <th colspan="{{totalColumns}}">
            {{input value=filter placeholder="Filter"}}
          </th>
        </tr>
      {{/if}}

    </thead>
    <tbody>
      {{#each sortedRows as |row|}}
        {{#unless row._filtered}}
          {{#component "each-keys" object=row as |key value|}}
            <td>
              {{#if editable}}
                {{#if (eq row._editingRow key)}}
                  <ul class="edit-field">
                    <li class="edit-input">{{input value=value}}</li>
                    <li class="edit-buttons">
                      <button class="cancel-edit" {{action "sendEditAction" row key value "cancel"}}>Cancel</button>
                      <button class="send-edit" {{action "sendEditAction" row key value "edit"}}>Edit</button>
                    </li>
                  </ul>
                {{else}}
                  <a href="#" class="edit-value" {{action "editValue" row key}}>{{{value}}}</a>
                {{/if}}
              {{else}}
                {{{value}}}
              {{/if}}
            </td>
          {{/component}}
        {{/unless}}
      {{/each}}
    </tbody>
    {{else}}
      <thead>
        <tr>
          <th>Empty</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>n/a</td>
        </tr>
      </tbody>
    {{/if}}
  </table>
  {{/if}}
</div>
