{{#ui-tabs isBoxed=true}}
  <ul>
    <li class="tab {{if (eq tab 'inline') 'is-active'}}">
      <a class="t-tab-inline" {{action show 'inline'}}>Inline</a>
    </li>
    <li class="tab {{if (eq tab 'block') 'is-active'}}">
      <a class="t-tab-block" {{action show 'block'}}>Block</a>
    </li>
    <li class="tab {{if (eq tab 'emberData') 'is-active'}}">
      <a class="t-tab-data" {{action show 'emberData'}}>Ember Data <i class="expiremental fa fa-flask"></i></a>
    </li>
  </ul>
{{/ui-tabs}}
