{{#if hasBlock}}
  {{yield}}
{{else}}
  <input placeholder={{placeholder}} oninput={{action (mut group.blockQuery) value="target.value"}} class="sf-table--input input" value="{{group.blockQuery}}" />
  {{#if (and withClearField group.blockQuery)}}
    <a class="sf-table--clear-field" {{action 'clearField'}}></a>
  {{/if}}
{{/if}}
